extends layout

block content
  if nodeForms.length
    table.listing-table.table-dark.table-striped
      tr
        th Nom
        th Email
        th Objet
        th Message
      each nodeForm in nodeForms
        tr
          td= nodeForm.name
          td= nodeForm.email
          td= nodeForm.objet
          td= nodeForm.message
  else
  hr
  input(
	  type="button"
		value="<< Retour au formulaire"
    class="btn btn-lg btn-primary btn-block"
		onclick="window.location.href='/'"
	)
